type file
id tpluscode.NoDocumentation.Ruleset
developmentDependency true
authors tpluscode
description
  NoDocumentation ruleset
files
  NoDocumentation.ruleset ==> tools
  tpluscode.NoDocumentation.ruleset.props ==> build